<!DOCYTPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src=https://tinypic.host/images/2022/01/08/Screenshot-2022-01-08-174302.png><img>
    <body bgcolor=#0000000>
        <div id="maincounter-wrap" style="margin-top:15px">
            <p>Mint Ice Cream</p>
            <p class="des">"Worst flavour!" -IceCweamLover</p>
            <!--<p class="des">"Best Flavour!" -Siphon</p>-->
            <p>Chocolate Ice Cream</p>
            <p class="des">"Tastes amazing but looks like sh%t." -IceCweamLover</p>
            <p>Vilina Ice Cream</p>
            <p class="des">"Wonderful and plain!" -Siphon & IceCweamLover</p>
            <p>Strawberry Ice Cream</p>
            <p class="des">"Fruity for summer! And refreshing." -HDd3d</p>
            <p>Boston Cream Pie Ice Cream</p>
            <p class="des">"its pretty ok." -IceCweamLover</p>
            <!---<p class="des">"I have no idea what this flavour is." -Siphon</p>-->
            <p>Lemon Ice Cream</p>
            <p class="des">"Lovely lemon. My favourite too!" -IceCweamLover</p>
            <!--<p class="des">"ew, just ew" -Siphon</p>-->
            <p>Blueberry Ice Cream</p>
            <p class="des">"Tastes like lake." -HDd3d & IceCweamLover</p>
            <!--<p class="des">"WHAT DOES THAT EVEN MEAN?!?" -Siphon</p>-->
            <p>Raspberry Ice Cream</p>
            <p class="des">"Yummy, have you tasted it?" -IceCweamLover & Emily</p>
            <!--<p class="des">"WHO ARE ALL THESE PEOPLE?!" -Siphon</p>-->
            <p>Ф'стак Ice Cream</p>
            <p class="des">"It's OK, sweat and bitter at the same time!" -IceCweamLover</p>
            <p>Chocolate Chip Ice Cream</p>
            <p class="des">"Another classic! It's like chocolate and cookies together!" -IceCweamLover</p>
            <p>Peanut Ice Cream</p>
            <p class="des">"Tastes like chocolate, but worse..." -IceCweamLover</p>
            </body>
        <style>
            body{color:  #f5f5f5; font-family: noto sans,sans-serif; font-size: 40px; margin: auto; text-align: center; padding-top: 20;}
            .des{color: #696969; font-family: noto sans,sans-serif; font-size: 25px; margin: auto; text-align: center; padding-top: 20;}
        </style>
</html>
